<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mamisiaga">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MamiSiaga">
        <activity
            android:name=".ui.TambahAnakActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HasilGambarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.KameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RencanaMelahirkanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DaftarLanjutanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AnakActivity"
            android:exported="false" />
        <activity
            android:name=".ui.InformasiIbuHamilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MasukActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DaftarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.InformasiImunisasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>